#site-header {
    border-bottom: 1px dashed $secondary-color;
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    font-family: $alt-font-family;
    justify-content: space-between;
    flex-direction: row;
    @include mobile-only {
        display: block;
    }
    #site-title {
        @include mobile-only {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
        #site-title-link {
            @include clearfix;
            display: block;
            flex-direction: row;
            justify-content: flex-start;
            font-size: 2rem;
            @include mobile-only {
                font-size: 1.7rem;
            }
            &:active,
            &:focus,
            &:hover,
            &:link,
            &:visited {
                color: #000000;
                text-decoration: none;
            }
            #site-title-link-img {
                @include mobile-only {
                    display: none;
                }
                width: 60px;
                height: auto;
            }
            #site-title-link-img,
            #site-title-link-text {
                float: left;
            }
        }
        #site-nav-button-wrapper {
            display: none;
            @include mobile-only {
                display: flex;
            }
            #site-nav-button {
                cursor: pointer;
                background-color: transparent;
                color: #000000;
                border: none;
                font-size: 1.7rem;
                border-radius: 4px;
                outline: none;
                transition: color linear 200ms, border linear 200ms;
                &:hover {
                    color: darken($primary-color, .4);
                }
            }
        }
    }
    #site-nav {
        display: flex;
        @include mobile-only {
            display: none;
        }
        .site-nav-item {
            display: block;
            font-size: 1.6rem;
            &:active,
            &:focus,
            &:hover,
            &:link,
            &:visited {
                color: #000000;
                text-decoration: none;
            }
        }
        &.site-nav-open {
            display: block;
            flex-direction: column;
            .site-nav-item {
                display: block;
                text-align: right;
            }
        }
    }
    #site-title #site-title-link #site-title-link-text,
    #site-title #site-nav-button-wrapper,
    #site-nav .site-nav-item {
        padding: 1.5rem 1rem;
        transition: color ease 500ms;
        justify-content: center;
        align-items: center;
    }
    #site-title #site-title-link,
    #site-nav .site-nav-item {
        &:hover {
            color: $primary-color;
        }
    }
}
