@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@import "~normalize.css/normalize";

@mixin clearfix {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

@mixin mobile-only {
    @media (max-width: 850px) {
        @content;
    }
}

$primary-color: #ffcf58;
$secondary-color: #dfdfdf;
$inactive-color: #dddddd;
$body-font-family: "Noto Serif SC", serif;
$alt-font-family: "Dancing Script", cursive;

* {
    box-sizing: border-box;
}

body {
    font-family: $body-font-family;
}

#site-content {
    padding: 0 1rem;
}

.vegetarian {
    color: #00a83d;
}

.pescetarian {
    color: #0945a0;
}

@import "nav";
@import "home";
@import "rsvp";
@import "order-of-the-day";
@import "location";
@import "food";
